#title {
    background-color: #008037;
}

#title .title {
    color: #FFC300;
}

#my-image {
    max-height: 270px;
    max-width: 270px;
    border: 1.4px solid black;
}

.is-horizontal-center {
  justify-content: center;
}

body{
    background-color: #f0ca9edc;
}

#c-1{
    border: 1px solid black;
}

.icons a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}