* navbar*/
body {
  margin: 0;
  overflow-y: hidden;
}

.header a {
  color: #FFC300;
  font-weight: 600;
}

.navbar{
  max-height: 70px;
}
/* header */

.header {
  background-color: #008037;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  max-height: 100%;
  border-bottom: 2px solid black;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #008037;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #035A3C;
  color: #FFC300 ;
}

.header .logo img{
  display: block;
  float: left;
}

#brand-img {
    max-height: 63px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* --------------------------navbar-end--------------------------------- */

/* Background Overlay & Image */
body {
  margin: 0;
  overflow: hidden;
}

.bg-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("assets/bg-2.jpg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Start-Quiz Button */
.start_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFC300;
    background: #008037;
    border: 2px solid black;
}

.buttn {
  border: none;
  padding: 20px 40px; 
  max-width: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin: 3%;
  cursor: pointer;
  position: absolute;
}

/* rounded buttons */

.btnn.roundd {
  border-radius: 25px; 
  color: #FFC300;
}

/* rounded w/ fill buttons */

.btnn.roundd.filld{
    background: #008037;
    border: 2px solid black;
}
.btnn.roundd.filld:hover {
    background: #02632c;
    color: #FFC300;
    border-color: #FFC300;
    box-shadow:0 3px 15px #e0cf4d;;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Quiz-Instruction Box */
.info_box{
    width: 45%;
    background: #ffe08a;
    border-radius: 25px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    background: #008037;
    border-bottom: 1.5px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 25px 25px 0 0;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #FFC300;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}

/* rotating the icon at an angle */
.rotateimg13 {
  -webkit-transform:rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
  transform: rotate(-13deg);
}


.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-top: 1px solid black;
    margin-bottom: 3%;
    padding-top: 10px;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #008037;
    transition: all 0.3s ease;
}

/* Styles for Buttons on Info-BOX */
.buttons button.restart{
    color: #FFC300;
    background: #008037;
}

.buttons button.restart:hover{
    background: #008037;
}

.buttons button.quit{
    color: black;
    background: #fff;
}

.buttons button.quit:hover{
    color: #FFC300;
    background: #008037;
}

/* Quiz-Box */
.quiz_box{
    width: 550px;
    background: #ffe08a;
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    max-height: 450px;
    border: 2px solid black;
}

section{
    padding: 25px 30px 20px 30px;
    background: #ffe08a;
    max-height: 350px;
    border-radius: 25px;
}

section .que_text{
    font-size: 17px;
    font-weight: 600;
}

section .option_list{
    padding: 15px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #d0fde8d5;
    border: 1px solid #4fee84;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid black;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #008037;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
    color: #FFC300;
    background: #008037;
}

footer button:hover{
    background: #008037;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #ffe08a;
    border-radius: 25px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border: 2px solid black;
}

.result_box .icon img{
   margin-bottom: 10px;
    margin-top: 10px; 
    max-height: 170px;
    max-width: 70px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 800;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 700;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #008037;
    transition: all 0.3s ease;
}
